
/* style.css */

body, p, h1, h2, h3, ul {
	margin: 0;
	padding: 0;
    font-family: Arial, sans-serif;
    color: black;
}


h1 {
    color: black;
    margin-bottom: 0.5px;
    text-align: center;
}


input#submitQuestion {
    width: 10em;
    background: white;
    border: 1px solid black;
    padding: 1em;
    
}

p {
	margin-bottom: 0.6em;
	font-size: 1em;
}


header h1 {
	font-size: 4em;
	color: black;
    text-decoration: none;
    margin: 0.5em;
}




img {
    height: 15em; 
    border: solid black 1px;
}

header {
	width: auto;
	background-color: #A7EEE4;
    height: 4em;
    padding: 1em;  
}


header > p {
	font-size: 0.9em;
    text-align: right;
    color: black;
}


header h1{
    text-align: center;
    color: black;
    font-size: 2em;

}

header > img {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    position: static;
    }


.offline {
	color: red;
}

main {
    height: auto;
    margin: auto;
    width: auto;
    padding: 1em;
}


body{
     /* background-color: #DBF0ED*/
   /* padding: 1em;*/
}


nav > ul {
     height: 2.5em;
     font-size: 1.5em;
    
}

fieldset {
    border: solid black thin;
    border-radius: 25px;
    
}
footer {
	position: static;
	bottom: 0;
	left: 0;
    background-color: #55847D;
	width: 100%;
	padding: 0;
	margin: 0;
    text-align: center;
}


input {
	width: auto;
	font-size: 1em;
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	background-color: black;
    width: auto;
	justify-content: center;
}

li {
	padding: 0;
	margin: 0;
	display: inline-block;
	flex-basis: 8em;
	height: 2em;
	text-align: center;
	padding-top: 1em;
	font-size: 0.8em;
}

nav {
        width: auto;
}

li > a {
	text-decoration: none;
	color: white;
}

a {
    color: black;
}

li:hover a {
	color: white;
}

li:hover {
	background-color: #A7EEE4;
}

aside {
	position: fixed;
	top: 10vw;
	left: 10vw;
	width: 72vw;
	background-color: white;
	border: 0.1em solid black;
	padding: 1em;
	margin: 2vw;
	color: black;
	font-size: 1em;
    text-align: center;
}

.hidden {
	display: none;
}


button {
    color: white;
    background: black ;
    border: none;
    text-decoration: none;
	padding: 1em 3em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	font-size: 0.8em;
	margin-top: 0.5em;
    margin-left: 0.5em;
    font-family: Arial, sans-serif;

}


button:hover {
      color: #A7EEE4;
      background-color: black;
      border: none;
        cursor: pointer;
}

input[type="text"], input[type="email"], input[type="password"], textarea {
	font-size: 1em;
    width: 60%;
	border: 1px solid black;
	padding: 0.5em;
	margin-top: 0.3em;
}

textarea {
	font-size: 1em;
    width: 100%;
	border: 1px solid black;
	padding: 0.5em;
	margin-top: 0.3em;
}

select {
    width: 50%;
    height: 2em;
}

a:-webkit-any-link {
    text-decoration: none;
}

main > button {
    color: #A7EEE4;
    background: black;
    border: none;
    text-decoration: none;
}

main > button:hover {
    color: white; ;
    background: black;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

form {
    background: #A7EEE4 ;
    padding: 2em;
    width: auto;
    text-align: left;
    margin-left: 3em;
    margin-right: 3em;
}

main > section {
	display: absolute;
	top: 15em;
	width: 315px;
	border: none;
	padding: 1em;
	padding-bottom: 3em;
	margin: auto;
}

main > section h2 {
	margin-bottom: 0.5em;
	color: #555;
}

main > section button {
	float: right;
    
}



article {
	background-color: #A7EEE4;
	margin-bottom: 0.5em;
	padding: 0.5em;
    text-align: left;
    margin: 2em;
}

article img {
    width: 15em;
    height: auto;
}

article  h2 {
	font-size: 1.3em;
	flex-grow: 1;
    text-align: center!important;
}

article h1 {
    text-align: center!important;
     color: black;
    font-size: 1.5em;
}

article > p {
	margin: 0;
	padding: 0;
	height: 2em;
	flex-grow: 2;
}


article > button {
	margin: 0;
	display: block;
	height: 3em;
	flex-grow: 1;
	float: right;
}

article#details {
  display: grid;
  grid-template-columns: 100%;
  padding: 10px;
}


article > section {
  background-color: white;
  text-align: left;
  padding: 1em;
  font-size: 1em;
}


article > img{
  align-items: center;

}

section > p {
    color: grey;
    font-size: 11px;
}

section > img {
    text-align:center;
     display:block;
}


section > ul {
	display: inline-block;
	text-align: left;
	font-size: 1em;
    background: none;
} 

section > li {
       background: none;
       list-style-type: circle;

}

section h1, h2, h3 {
    font-weight:normal
}

section > button > a {
    color: white;
}

h2#welcome {
    text-align:right;
    font-size: 1em;
}

table {
   border-collapse: collapse;   
}


table img {
    width: 15em;
    height: 10em;
    
}
td {
  border: none;
   padding: 1em;
   
}


a#qDetails {
   border: none;
    color: white;
    background: black;
    padding:1em;
}

a#qDetails:hover {
    border: none;
    background: black;
    color: #A7EEE4;
    padding:1em;
}


p#dateUser {
    color: grey;
    font-size: 0.8em;
}

footer > p#device, footer > p#resolution, footer > p#connectivity {
	display: inline-block;
	height: 1.5em;
	width: 1.5em;
	margin: 0;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	background-size: contain;
}

footer > p#connectivity {
	background-image: url(../images/online.png);
}

footer > p#location {
	display: inline-block;
	margin: 0;
	height: 0.7em;
	margin-left: 0.3em;
	font-size: 0.8em;
	color: gray;
}

/* ==================== DETECTS IF SCREEN SUPPORTS TOUCH ==================== */

/* Detects a touch-screen device */
@media (hover: none) and (pointer: coarse) {
	footer > p#device {
		background-image: url(../images/tablet.png);
		background-size: contain;
	}
	
}

/* Detects a non-touch screen with a mouse or trackpad */
@media (hover: hover) and (pointer: fine) {
	footer > p#device {
		background-image: url(../images/desktop.png);
		background-size: contain;
	}
}

.currentpage {
	background-color: white;
    padding: none;
}

.currentpage, li:active {
    background-color: black;
}


/* ======================== DETECTS THE SCREEN WIDTH ======================== */

/* Narrow screen */
@media (min-width: 250px) and (max-width: 400px) {
    
footer > p#resolution {
		/* background-image: url(../images/red.png); */
		background-size: contain;
} 
    
input[type="text"], input[type="email"], input[type="password"], textarea {
	font-size: 0.5em;
    width: 90%;
	border: 1px solid black ;
	padding: 0.5em;
	margin-top: 0.3em;
} 

      
textarea {
        width: 70%;
}  
    
    
img {
    height: auto;
    max-width: 50%;
    border: solid black 1px;
}

header {
	width: auto;
	background-color: #A7EEE4;
    height: 2em;
    padding: 1em;  
}    
  
header h1 {
    text-align: center;
    color: black;
    font-size: 1em;
}
    
table#questionsTable{
        width: auto;
        font-size: 0.5em; 
}
    
table#questionsTable td {
    border: none;
    padding:none;
}
    
figure {
        width: 100%;
}
    
form {
    background: #A7EEE4;
    padding: 2em;
    width: auto;
    font-size: 0.8em;
}

nav > ul {
    height: 2.5em;
    font-size: 1em;
}
 
article > section {
  background-color: white;
  text-align: left;
  padding: 0.5em;
  font-size: 1em;
}
    
 article {
	background-color: #A7EEE4;
	margin-bottom: 0.5em;
    text-align: left;
    margin: 0.5em;
    padding: 0.5em;
}    
    
} 

/* Medium width screen */
@media (min-width: 401px) and (max-width: 800px) {
	
    
footer > p#resolution {
    /* background-image: url(../images/amber.png); */
    background-size: contain;
}
    
input[type="text"], input[type="email"], input[type="password"] {
	font-size: 1em;
    width: 90%;
	border: 1px solid black ;
	padding: 0.5em;
	margin-top: 0.3em;
}

    
textarea {
        width: 70%;
}
    
    
header {
	width: auto;
	background-color: #A7EEE4;
    height: 5em;
}   

header h1 {
    text-align: center;
    color: black;
    font-size: 2em; 
}

    nav > ul {
        height: 2.5em;
        font-size: 1em;
    }
     
article > section {
  background-color: white;
  text-align: left;
  padding: 0.5em;
  font-size: 1em;
}
    
 article {
	background-color: #A7EEE4;
	margin-bottom: 0.5em;
    text-align: left;
    margin: 0.5em;
    padding: 0.5em;
}   
    
}

/* Wide screen */
@media (min-width: 801px) {
	footer > p#resolution {
		/* background-image: url(../images/green.png); */
		background-size: contain;
	}
    
}


