
/* style.css */

body, p, h1, h2, h3, ul {
	margin: 0;
	padding: 0;
    font-family: "Monaco", monospace;
}


p {
	margin-bottom: 0.6em;
	font-size: 1em;
}

header h1 {
	margin-bottom: 0.5em;
	font-size: 3em;
	color: #555;
}


h1 {
	margin-bottom: 0.5em;
	font-size: 1.6em;
	color: #555;
}

img {
    height: 15em; 
    border: solid black 1px;
}

header {
	width: auto;
	background-color: #C1666B;
    padding: 1em;
    height: 4em;
}

header p {
	font-size: 0.9em;
	color: #555;
	margin: 0.2em;
}


header h1{
    text-align: center;
    color: black;
    font-size: 2em;

}

.offline {
	color: red;
}

main {
    padding: 1em;
    height: auto;
    margin: auto;
}


body{
        /*background: #FBDADA;*/
}

footer {
	position: relative;
	bottom: 0;
	left: 0;
    background-color: #c1666b;
	width: 100%;
	padding: 0;
	margin: 0;
	padding-left: 0.3em;
	padding-top: 0.5em;
    text-align: center;
}




input {
	width: auto;
	font-size: 0.9em;
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	background-color: black;
    width: auto;
	justify-content: flex-start;
}

li {
	padding: 0;
	margin: 0;
	display: inline-block;
	flex-basis: 8em;
	height: 2em;
	text-align: center;
	padding-top: 1em;
	font-size: 0.8em;
}

li > a {
	text-decoration: none;
	color: white;
}

a {
    color: black;
}

li:hover a {
	color: #C1666B;
}

li:hover {
	background-color: white;
}

aside {
	position: fixed;
	top: 10vw;
	left: 10vw;
	width: 72vw;
	background-color: white;
	border: 0.1em solid #C1666B;
	padding: 1em;
	margin: 2vw;
	color: #C1666B;
	font-size: 1em;
	border-radius: 0.5em;
    text-align: center;
}

.hidden {
	display: none;
}


button {
    color: black;
    background: #FBDADA;
    border: thin solid black;
    text-decoration: none;
	padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	font-size: 0.8em;
	margin-top: 0.5em;
    margin-left: 0.5em;
    border-radius: 10px;
    font-family: "Monaco", monospace;
}


button:hover {
        color: #C1666B;
      background-color: white;
       border: thin solid black;
}

input[type="text"], input[type="email"], input[type="password"], textarea {
	font-size: 0.8em;
    width: 60%;
	border: 1px solid black;
	padding: 0.5em;
	margin-top: 0.3em;
    border-radius: 10px;
}

textarea {
	font-size: 0.8em;
    width: 100%;
	border: 1px solid black;
	padding: 0.5em;
	margin-top: 0.3em;
   border-radius: 10px;
}

select {
    width: 50%;
    height: 2em;
       border-radius: 10px;
}

a:-webkit-any-link {
    text-decoration: none;
}

main > button {
    color: black;
    background: #C1666B;
    border: thin solid black;
    text-decoration: none;
}

main > button:hover {
    color: black;
    background: white;
    border: thin solid black;
    text-decoration: none;
}


form {
    background: #C1666B;
    padding: 2em;
    border-radius: 25px;
    width: auto;
    box-shadow: 2px 2px 20px 2px gray;
}


form#login {
    margin: 10%;
    background: #C1666B;
    padding: 2em;
    border-radius: 25px;
    width: auto;
    text-align: left;
}

form#register {
    margin: 10%;
    background: #C1666B;
    padding: 2em;
    border-radius: 25px;
    width: auto;
    text-align: left;
}

main > section {
	display: absolute;
	top: 15em;
	width: 315px;
	border: 2px solid #CCC;
	padding: 1em;
	padding-bottom: 3em;
	margin: auto;
}

main > section h2 {
	margin-bottom: 0.5em;
	color: #555;
}

main > section button {
	float: right;
}

article {
	background-color: #CCCC;
	margin-bottom: 0.5em;
	padding: 1em;
	padding-bottom: 3em;
}

article > h2 {
	margin: 0;
	padding: 0;
	/* display: inline-block; */
	font-size: 1.2em;
	/* background-color: blue; */
	height: 2em;
	flex-grow: 1;
}

article > p {
	margin: 0;
	padding: 0;
	/* display: inline-block; */
	/* background-color: yellow; */
	height: 2em;
	flex-grow: 2;
}

article > button {
	margin: 0;
	display: block;
	height: 3em;
	flex-grow: 1;
	float: right;
}




h2#welcome {
    text-align:right;
    font-size: 1em;
}

table {
       border-collapse: collapse;
    text-align: center;
}

td {
   border: solid black 1px;
}


table img {
    height: 15em; 
    border: none;
}


footer > p#device, footer > p#resolution, footer > p#connectivity {
	display: inline-block;
	height: 1.5em;
	width: 1.5em;
	margin: 0;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	background-size: contain;
}

footer > p#connectivity {
	background-image: url(../images/online.png);
}

footer > p#location {
	display: inline-block;
	margin: 0;
	height: 0.7em;
	margin-left: 0.3em;
	font-size: 0.8em;
	color: gray;
}

/* ==================== DETECTS IF SCREEN SUPPORTS TOUCH ==================== */

/* Detects a touch-screen device */
@media (hover: none) and (pointer: coarse) {
	footer > p#device {
		background-image: url(../images/tablet.png);
		background-size: contain;
	}
	
}

/* Detects a non-touch screen with a mouse or trackpad */
@media (hover: hover) and (pointer: fine) {
	footer > p#device {
		background-image: url(../images/desktop.png);
		background-size: contain;
	}
}

.currentpage {
	background-color: white;
}

.currentpage {
	background-color: white;
}

.currentpage, li:active {
    background-color: black;
}


/* ======================== DETECTS THE SCREEN WIDTH ======================== */

/* Narrow screen */
@media (min-width: 250px) and (max-width: 401px) {
	footer > p#resolution {
		/* background-image: url(../images/red.png); */
		background-size: contain;
	} input[type="text"], input[type="email"], input[type="password"], textarea {
	font-size: 0.5em;
    width: 90%;
	border: 1px solid black ;
	padding: 0.5em;
	margin-top: 0.3em;
} 


   img {
    height: 15em;
    width: 100%;
    border: solid black 1px;
}

/* Medium width screen */
@media (min-width: 401px) and (max-width: 800px) {
	footer > p#resolution {
		/* background-image: url(../images/amber.png); */
		background-size: contain;
	}
    input[type="text"], input[type="email"], input[type="password"], textarea {
	font-size: 0.5em;
    width: 90%;
	border: 1px solid black ;
	padding: 0.5em;
	margin-top: 0.3em;
}}

/* Wide screen */
@media (min-width: 801px) {
	footer > p#resolution {
		/* background-image: url(../images/green.png); */
		background-size: contain;
	}
}